@model QMS.Models.IP

@{
    ViewBag.Title = "Admin";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset  style="height:100%;text-align:center; ">
        <legend>Login Form</legend>
        <ol>
            <li style="display:inline-block;font-size:1.5em ">
               @Html.ActionLink("Token Setting", "TokenSetting", "Admin", new { id = 1 })
            </li>
            <li style="display:inline-block;font-size:1.5em ">
               @Html.ActionLink("Ip Setting", "IpSetting", "Admin", new { id = 2 })
            </li>

        </ol>
     </fieldset>
}
