@model QMS.Models.IP

@{
    ViewBag.Title = "IPSettingMsg";
}

<h2>IP Setting is Successful....!</h2>
<input id="okbtn" type="button" value="OK" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'")    ;" />